a {
    cursor: pointer;
}
.ctlButton{
    height: 120px;
    line-height: 50px;
    font-size: 40px;
}
table {
    width: 360px;
}
#login-rolling {
    display:none;
}
#login-success, #login-failed{
    display: none;
}
