<div class="container" ng-app="gates" ng-controller="gateCtrl">
    <h1>Դարպասներ</h1>
    <div class="gateButtons">
        <button class="ctlButton col-xs-12" type="button" class="btn" ng-click="gateCtrl(4)">Ալավերդյան բաց․/փակ․</button>
        <button class="ctlButton col-xs-12" type="button" class="btn" ng-click="gateCtrl(3)">Վարդանանց բացել</button>
        <button class="ctlButton col-xs-12" type="button" class="btn" ng-click="gateCtrl(1)">Վարդանանց փակել</button>
    </div>
    <h1>Մուտքի լույս</h1>
    <div class="gateButtons">
        <button class="ctlButton col-xs-12" type="button" class="btn" ng-click="lightCtrl(1)">Միացնել․</button>
        <button class="ctlButton col-xs-12" type="button" class="btn" ng-click="lightCtrl(0)">Անջատել</button>
    </div>
</div>